on early-init
	export EXTERNAL_STORAGE /mnt/sdcard
	mkdir /mnt/sdcard 0000 system system
	# for backwards compatibility
	symlink /mnt/sdcard /sdcard

on early-fs
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /devlog 0700 root root

    #8x60: firmware
    rm /vendor
    mkdir /vendor 0771 system system
    mkdir /vendor/firmware 0771 system system
    mkdir /vendor/firmware/misc 0771 system system
    wait /dev/block/mmcblk0p18
    mount vfat /dev/block/mmcblk0p18 /vendor/firmware/misc ro shortname=lower
    symlink /vendor/firmware/misc/q6.b07 /vendor/firmware/q6.b07
    symlink /vendor/firmware/misc/q6.b06 /vendor/firmware/q6.b06
    symlink /vendor/firmware/misc/q6.b05 /vendor/firmware/q6.b05
    symlink /vendor/firmware/misc/q6.b04 /vendor/firmware/q6.b04
    symlink /vendor/firmware/misc/q6.b03 /vendor/firmware/q6.b03
    symlink /vendor/firmware/misc/q6.b02 /vendor/firmware/q6.b02
    symlink /vendor/firmware/misc/q6.b01 /vendor/firmware/q6.b01
    symlink /vendor/firmware/misc/q6.b00 /vendor/firmware/q6.b00
    symlink /vendor/firmware/misc/q6.mdt /vendor/firmware/q6.mdt
    symlink /vendor/firmware/misc/modem.b09 /vendor/firmware/modem.b09
    symlink /vendor/firmware/misc/modem.b08 /vendor/firmware/modem.b08
    symlink /vendor/firmware/misc/modem.b07 /vendor/firmware/modem.b07
    symlink /vendor/firmware/misc/modem.b06 /vendor/firmware/modem.b06
    symlink /vendor/firmware/misc/modem.b05 /vendor/firmware/modem.b05
    symlink /vendor/firmware/misc/modem.b04 /vendor/firmware/modem.b04
    symlink /vendor/firmware/misc/modem.b03 /vendor/firmware/modem.b03
    symlink /vendor/firmware/misc/modem.b02 /vendor/firmware/modem.b02
    symlink /vendor/firmware/misc/modem.b01 /vendor/firmware/modem.b01
    symlink /vendor/firmware/misc/modem.b00 /vendor/firmware/modem.b00
    symlink /vendor/firmware/misc/modem.mdt /vendor/firmware/modem.mdt
    symlink /system/vendor/firmware/fw_bcm4329.bin /vendor/firmware/fw_bcm4329.bin
    symlink /system/vendor/firmware/fw_bcm4329_apsta.bin /vendor/firmware/fw_bcm4329_apsta.bin
    symlink /system/vendor/firmware/bcm4329.hcd /vendor/firmware/bcm4329.hcd
    mount ext4 /dev/block/mmcblk0p23 /system wait ro data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p24 /data wait noatime nosuid nodev data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p25 /cache wait noatime nosuid nodev data=ordered noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p28 /devlog wait noatime nosuid nodev data=ordered noauto_da_alloc

    # double check the perms and set owner
    chown root root /devlog
    chmod 0700 /devlog

	mount rootfs rootfs / remount

    #for CIQ ipc
    mkdir /app-cache/ciq 0711 root system
    mkdir /app-cache/ciq/socket 0777 root system

    # for Invense MPU3050
    chmod 0664 /dev/mpu
    chmod 0664 /dev/mpuirq
    chmod 0664 /dev/timerirq
    chown system system /dev/mpu
    chown system system /dev/mpuirq
    chown system system /dev/timerirq

    mkdir /data/radio 0770 radio radio

    #wifi
    mkdir /data/misc 1771 system misc
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    #wimax
    mkdir /data/misc/wimax 0770 wimax wimax
    mkdir /data/misc/wimax/sockets 0770  wimax wimax
    mkdir /data/wimax/ 0770  system system
    mkdir /data/wimax/log 0770  system system

on init
    # bluetooth power up/down interface
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 0660                /sys/class/rfkill/rfkill0/state

    # bluetooth MAC address programming
    chown bluetooth bluetooth /sys/module/htc_bdaddress/parameters/bdaddr
    setprop ro.bt.bdaddr_path /sys/module/htc_bdaddress/parameters/bdaddr

    # Permissions for Liblights.
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness

    # flashlight
    chown system camera /sys/class/leds/flashlight/brightness
    chmod 0660          /sys/class/leds/flashlight/brightness

    # for display
    chown system system /sys/devices/virtual/graphics/fb1/format_3d 
    chmod 0644		/sys/devices/virtual/graphics/fb1/format_3d 
    chown system system	/sys/devices/platform/panel_3d/3D_mode
    chmod 0644		/sys/devices/platform/panel_3d/3D_mode

	# for wireless modem
	chown system system /sys/module/serial/parameters/modem_enabled
	chown system system /dev/ttyHSUSB0
	chown system system /dev/ttySA0
	chown system system /dev/smd9

	# for Flip to speaker
	chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
	chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

	# for Optical sensors
	chown system system /sys/class/optical_sensors/lightsensor/ls_adc
	chown system system /sys/class/optical_sensors/lightsensor/ls_auto
	chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
	chown system radio /sys/class/optical_sensors/proximity/ps_adc
	chown system system /sys/class/optical_sensors/proximity/ps_kadc
	chown system system /sys/class/optical_sensors/proximity/ps_led
	chown system system /sys/class/optical_sensors/proximity/ps_test_mode

    # for CM performance
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_governors
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
    chown root system /sys/devices/system/cpu/cpu1/cpufreq/scaling_available_frequencies
    chown root system /sys/devices/system/cpu/cpu1/cpufreq/scaling_available_governors
    chown root system /sys/devices/system/cpu/cpu1/cpufreq/scaling_cur_freq
    chown system /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy

	# for simlock
	chown radio radio /dev/simlock
	chmod 0660 /dev/simlock

	# for charging function
	chown radio radio /sys/module/htc_battery_8x60/parameters/phone_call
	chmod 0660 /sys/module/htc_battery_8x60/parameters/phone_call

	# to enable low charge current in voice call
	chown radio radio /sys/class/power_supply/battery/charger_control
	chmod 0660 /sys/class/power_supply/battery/charger_control
    
	# for Slate charging timer
	chown radio /sys/class/power_supply/battery/charger_timer

    # Overwrite framework low memory killer setting
    write /sys/module/lowmemorykiller/parameters/minfree 2048,3072,4096,6144,8192,12288
    write /sys/module/lowmemorykiller/parameters/minfile 2048,3072,4096,6144,8192,12288
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

service post-boot /system/bin/sh /system/etc/init.post_boot.sh
    user root
    oneshot

# Force loading of modem and Q6 images
service load-modem /system/bin/load-modem.sh
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpWimax /system/bin/dhcpcd -ABKL -f /etc/wimax/dhcp/wimaxDhcp.conf
    class main
    disabled
    oneshot


# bugreport is triggered by the KEY_VOLUMEUP and KEY_VOLUMEDOWN keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115

service hciattach /system/bin/brcm_patchram_plus --enable_hci \
    --baudrate 3000000 --patchram /vendor/firmware/bcm4329.hcd /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p26 /dev/block/mmcblk0p27 /dev/block/mmcblk0p19
    class core
    user root
    disabled

service qmuxd /system/bin/qmuxd
    class main

service netmgrd /system/bin/netmgrd
    class main

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

on property:sys.radio.shutdown=true
   write /sys/devices/platform/rs300000a7.65536/force_sync 1
   write /sys/devices/platform/rs300100a7.65536/force_sync 1

on property:ro.emmc=1
    start rmt_storage

service sequansd /system/bin/sequansd /etc/wimax/sequansd/sequansd_app.xml
    user root
    group root inet
    socket sequansd_0 dgram 660 root root
    disabled
    oneshot

service wimaxDhcpRelease /system/bin/wimaxDhcpRelease
    user root
    group root
    disabled
    oneshot

service wimaxDhcpRenew /system/bin/wimaxDhcpRenew
    user root
    group root
    disabled
    oneshot

service wimaxAddRoute /system/bin/wimaxAddRoute
    user root
    group root
    disabled
    oneshot

service wimaxDumpLogcat /system/bin/wimaxDumpLogcat /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wimaxDumpKmsg /system/bin/wimaxDumpKmsg /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wimaxDumpLastKmsg /system/bin/wimaxDumpLastKmsg /data/wimax/log
    user root
    group root
    disabled
    oneshot

service wmxCfgItf /system/bin/wimaxConfigInterface
    user root
    group root
    disabled
    oneshot

service wimaxDaemon /system/bin/wimaxDaemon
   user root
   group root

# wimax_mtd daemon
service wimax_mtd /system/bin/wimax_mtd
   user root
   group root
   oneshot

# setWMXPropd daemon
service setWMXPropd /system/bin/setWiMAXPropDaemond
    user root
    group root
    oneshot

# getWMXPropd daemon
service getWMXPropd /system/bin/getWiMAXPropDaemond
    user root
    group root
    oneshot

service modem /system/bin/wireless_modem
    user system
    group system radio
    disabled

on property:service.modem.enable=1
    start modem

on property:service.ser2net.enable=0
    stop srv_ser2net

on property:service.modem.enable=0
    stop modem

service hdmid /system/bin/hdmid
    socket displayd stream 0660 root system graphics
    disable
    start hdmid

service htcbatt /system/bin/htcbatt
    class core
    user root

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp --single_core_while_panel_off
    user root
    disabled

service thermald /system/bin/thermald
    user root
    disabled

service qcom-post-boot /system/sbin/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot
    start thermald
    start mpdecision

service htc_ebdlogd /system/bin/htc_ebdlogd -s -k -P 7 -n 10 -N 10
	user root
    	disabled
	oneshot
        ioprio idle 0

service htc_ebdlogd_rel /system/bin/htc_ebdlogd -s -k -n 10 -N 10
	user root
    	disabled
	oneshot
        ioprio idle 0

service 3d_camera /system/bin/3D_calibration
    user root

on property:ro.build.tags=test-keys
    start htc_ebdlogd

on property:ro.build.tags=release-keys
    start htc_ebdlogd_rel

# CABL
service abld /system/bin/mm-abl-daemon
    disabled

on property:ro.qualcomm.cabl=1
    start abld

on property:ro.qualcomm.cabl=0
    stop abld

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group system radio inet

service netmgrd /system/bin/netmgrd
    class main
